<template>
  <div>
	<ul class="nav nav-pills">
		<router-link to = "/" tag = "li" exact><a>Stock Trader</a></router-link>
		<router-link to = "/portfolio" tag = "li"><a>Portfolio</a></router-link>
		<router-link to = "/stock" tag = "li"><a>Stock</a></router-link>
		<router-link to = "/stock-management" tag = "li"><a>Stock Management</a></router-link>
	</ul>
	{{funds | currency}}
  </div>
</template>

<script>
export default {
	data(){
		return {
			funds: 0
		}
	},
	created(){
		this.$http.get('https://ori-stock-trading.firebaseio.com/funds.json')
					.then(response =>{
						return response.json();
					})
					.then(data => {
						for (let d in data){
							this.funds = data[d];
							break;
						}
					});
		this.$store.state.funds = this.funds;
	}
}
</script>

<style>
</style>
