<template>
  <div id = "app-home">
	<h1> Trade or View your Portfolio</h1>
	<p>You may Save & Load your data</p>
	<p>Click End day to begin new day</p>
	<hr>
	<h3>Your funds: {{funds | currency}}</h3>
  </div>
</template>

<script>
export default {
	data(){
		return {
			funds: 0
		}
	},
	created(){
		this.$http.get('https://ori-stock-trading.firebaseio.com/funds.json')
					.then(response =>{
						return response.json();
					})
					.then(data => {
						for (let d in data){
							this.funds = data[d];
							break;
						}
					});
	}
}
</script>

<style>
</style>
