<template>
  <div id = "stock-item-container">
	<p>
		<span class = "stock-name">{{stock.name}} </span>
		<span class = "price">(Price: {{stock.price}} | Quantity: {{stock.quantity}})</span>
	</p>
	<input type = "text" placeholder = "Quantity" v-model = "quantity"></input>
	<button @click= "sell">Sell</button>
  </div>
</template>

<script>
export default {
	data(){
		return {
			stock: {
				name: "",
				price: 0,
				quantity: 0
			},
			quantity: 0
		}
	},
	created(){
		this.stock = this.$store.state.selectedStock;
	},
	methods: {
		sell(){
			this.stock.quantity = parseInt(this.stock.quantity) - this.quantity;
			var url = 'stocks/' + this.stock.name + ".json";
			this.$http.put(url, this.stock);
		}
	}
}
</script>

<style scoped>
	#stock-item-container {
		height: 100px;
		border: 1px solid #ddd;
		border-radius: 5px;
		margin-bottom: 15px;
		display: inline-table;
		width: 45%;
		margin-right: 20px;
	}
	p {
		border-bottom: 1px solid #ddd;
		background-color: #cfdbf1;
		padding-left: 10px;
		height: 30px;
	}
	input {
		margin-left: 10px;
		border-radius: 5px;
		border: 1px solid #ddd;
	}
	button {
		border: none;
		float: right;
		margin-right: 10px;
		border-radius: 5px;
		width: 50px;
		padding: 5px;
		background-color: #ef707c;
		color: white;
	}

</style>
