<template>
  <div id="app">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<app-header></app-header>
	<router-view></router-view>
  </div>
</template>

<script>
import Header from './component/Header.vue';
export default {
	components: {
		"app-header": Header
	}
}
</script>

<style>

#app {
	margin: 30px 100px;
}

</style>
