<template>
  <div>
	Name: <input v-model = "stock.name" type = "text"></input>
	Price: <input v-model = "stock.price" type = "text"></input>
	Quantity: <input v-model = "stock.quantity" type = "text"></input>
	<button @click="addStock">Add</button>
	<hr>
	Funds: <input v-model = "funds" type = "text"></input>
	<button @click="addFunds">Add</button>
  </div>
</template>

<script>
export default {
	data(){
		return {
			stock: {
				name: "",
				price:0,
				quantity: 0,
			},
			funds: 0
		}
	},
	methods: {
		addStock(){
			var url = 'stocks/' + this.stock.name + ".json";
			this.$http.put(url, this.stock);
		},
		addFunds(){
			this.$http.post('funds.json', this.funds);
		}
	}
}
</script>

<style>
</style>
