<template>
  <div id = "stock-item-container" @click="selectStock">
	<p>
		<span class = "stock-name">{{byingStock.stock.name}} </span>
		<span class = "price">(Price: {{byingStock.stock.price}})</span>
	</p>
	<input type = "text" placeholder = "Quantity" v-model = "byingStock.quantity"></input>
	<button @click= "buy">Buy</button>
  </div>
</template>

<script>
export default {
	props:["byingStock"],
	methods: {
		buy(){
			this.byingStock.stock.quantity = parseInt(this.byingStock.stock.quantity) + parseInt(this.byingStock.quantity);
			var url = 'stocks/' + this.byingStock.stock.name + ".json";
			this.$http.put(url, this.byingStock.stock);
			this.$store.state.selectedStock = this.byingStock.stock;
		},
		selectStock(){
			this.$store.state.selectedStock = this.byingStock.stock;
		}
	}
}
</script>

<style scoped>
	#stock-item-container {
		height: 100px;
		border: 1px solid #ddd;
		border-radius: 5px;
		margin-bottom: 15px;
		display: inline-table;
		width: 45%;
		margin-right: 20px;
	}
	p {
		border-bottom: 1px solid #ddd;
		background-color: #e5f9ea;
		padding-left: 10px;
		height: 30px;
	}
	input {
		margin-left: 10px;
		border-radius: 5px;
		border: 1px solid #ddd;
	}
	button {
		border: none;
		float: right;
		margin-right: 10px;
		border-radius: 5px;
		width: 50px;
		padding: 5px;
		background-color: #82dc82;
		color: white;
	}

</style>
