<template>
  <div class = "stock-container">
	<stock-item v-for="byingStock in byingStocks" :byingStock= "byingStock"></stock-item>
  </div>
</template>

<script>
import StockItem from './StockItem.vue';
export default {
	data(){
		return {
			byingStocks:[]
		}
	},
	components: {
		"stock-item": StockItem
	},
	created() {
		this.$http.get('stocks.json')
					.then(response =>{
						return response.json();
					})
					.then(data => {
						const result = [];
						for (let d in data){
							var byingStock = {};
							byingStock['stock'] = data[d];
							byingStock['quantity'] = '';
							result.push(byingStock);
						}
						this.byingStocks = result;
					});
	}
}
</script>

<style>
</style>
